img {
    height:3vh ;
    margin-right: 15px;
}
.icon img{
    height: 10vh;
    max-width: 50px;
    max-height: 50px;
}

ul {
    padding: 5px;
}

li{
    list-style: none;

}

a {
    height: 7vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 10px ;
}

.nav-link:hover {
    background-color: #ffffff88;
}

button {
    position: absolute;
    right: -60px;
    top: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #000021;
    width: 180px;
    height: 100vh;
    border-end-end-radius:10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}

.contenu-app{
    margin-left: 6em;
    margin-top: 3em;
}


.hidden{
    opacity: 0;
    display: none;
}