<nav class="container" [ngStyle]="{'width':isCollapse?'80px':'205px'}" >
    <header>
        <div class="icon text-center mt-3">
            <a routerLink="Acceuil" #navlinks class="navbar-brand d-flex align-items-center" href="#">
                <img src="../../assets/logo.png" alt="" srcset="">
                <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}"> <h5>StockMaster</h5></span>
            </a>
        </div>
        
        <button class="button btn" (click)="isCollapse=!isCollapse">
            <img src="../../assets/box.png" alt="" srcset="">
        </button>
    </header>

    <div class="menulist">

        <ul class="mt-5">
            <li>
                <a routerLink="Acceuil" #navlinks class="nav-link" href="#">
                    <img src="../../assets/dashbord.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">Acceuil</span>
                </a>               
            </li>
            <li>
                <a routerLink="Produits" #navlinks class="nav-link" href="#">
                    <img src="../../assets/produit.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">Produits</span>
                </a>
            </li>
            <li>
                <a routerLink="Clients" #navlinks class="nav-link" href="#">
                    <img src="../../assets/client.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">Client</span>
                </a>
            </li>
            <li>
                <a routerLink="Commandes" #navlinks class="nav-link" href="#">
                    <img src="../../assets/commande.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">commande</span>
                </a>
            </li>
            <li>
                <a routerLink="Fournisseurs" #navlinks class="nav-link" href="#">
                    <img src="../../assets/fournisseur.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">Fournisseur</span>
                </a>
            </li>
            <li>
                <a routerLink="Reception" #navlinks class="nav-link" href="#">
                    <img src="../../assets/reception.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">Reception</span>
                </a>
            </li>
            <li>
                <a routerLink="" #navlinks class="nav-link" href="#">
                    <img src="../../assets/perte.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">perte</span>
                </a>
            </li>
            <li>
                <a routerLink="Employes" #navlinks class="nav-link" href="#">
                    <img src="../../assets/employe.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">employe</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="account">
        <ul>
            <li>
                <a routerLink="" #navlinks class="nav-link"  href="#">
                    <img src="../../assets/parametre.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">parametre</span>
                </a>
            </li>
            <li>
                <a routerLink="" #navlinks class="nav-link"  href="#">
                    <img src="../../assets/deconnect.png" alt="" srcset="">
                    <span [ngStyle]="{'display': isCollapse ? 'none' : 'block'}">deconnecter</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="contenu-app">
    <router-outlet></router-outlet>
</div>