<div class="container text-center ">
    <h1 class="mb-5">liste des produits</h1>
    <form>
        <input class="mb-5 me-5" type="text" name="cherhcer" id="" placeholder="cherhcer produit...">
        <select>
            <option value="">filtre</option>
            <option value="">prix croissant</option>
            <option value="">prix decroissant</option>

        </select>
    </form>
    <div class="row text-center border shadow-sm  align-items-center py-1 me-1">
        <h5 class="col">produit</h5>
        <h5 class="col">prix</h5>
        <h5 class="col">format</h5>
        <h5 class="col">quantite</h5>
    </div>

    <div *ngFor="let singleproduct of allProduct">
        <app-produit [product]="singleproduct"></app-produit>
    </div>
</div>