.col{
    border-right: 1px solid black;
    cursor: pointer;
    height: 100%;
}

.row:hover{
    background-color: rgb(222, 222, 222);
    transition: 0.5s;
    transform: scale(0.99);
}

.col img{
    height:3vh ;
    margin-right: 15px;
    min-height: 25px;
}

