<div class="container mb-5 text-center ">
    <h1 class="mb-5">liste des clients</h1>
    <div class="row mb-5">
        <input class="col mx-2" type="text" name="cherhcer" id="" placeholder="cherhcer client...">
        <select class="col mx-2">
            <option value="">filtre</option>
            <option value="">nom croissant</option>
            <option value="">nom decroissant</option>
            <option value="">numero croissant</option>
            <option value="">numero decroissant</option>
        </select>
        <button type="button" class="col mx-2 btn btn-primary" (click)="creerClientModal()">Creer Client</button>
    </div>
    <div *ngFor="let singleClient of allClient">
        <app-client [client]="singleClient"></app-client>
    </div>
</div>

